body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(187, 128, 255);
  font-size: 20px;
  font-family: calibri;
  box-sizing: border-box;
}
ul{
  list-style-type: none;
  
}
ul li{
  display: inline;
  margin-right: 20px;
}
ul li a{
  text-decoration: none;
  color: black;
  background-color: lightskyblue;
  border-radius: 5px;
  padding: 5px;
}
nav{
  display: flex;
  justify-content: space-between;
  background-color: lightgrey;
  padding: 10px;
}

img{
  width: 450px;
  height: 450px;

}
.contain{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}



